node_modules
.tmp
.sass-cache
.bowerrc
.editorconfig
.gitattributes
app/bower_components
app/fonts
app/scripts/dev.js
docs
SchoolMan.crx
SchoolMan.xmi
app.pem
app.crx
todo.txt
questions.txt
downloaded
dist.crx
dist.pem
