<!-- School Name Letterhead -->
   <table class="table letterhead">
  	<tr>
  		<td class="text-center title-flank" style="border:none;">
  		  <h6>MINISTRY OF SECONDARY EDUCATION</h6>
			  <h6>REPUBLIC OF CAMEROON</h6>
			  <h6>Peace - Work - Fatherland</h6>
  		</td>
  		<td class="text-center title-main" style="border:none;">
  			<h4 class="english">{{data.schoolInfo.nameEn}}</h4>
			  <h4 class="french">{{data.schoolInfo.nameFr}}</h4>
			  <h3 class="headline" style="margin-top:10px;">
			  	<strong class="english">{{pageTitleEnglish}}</strong> - 
			  	<strong class="english french">{{pageTitleFrench}}</strong>
			  </h3>
  		</td>
  		<td class="text-center title-flank french" style="border:none;">
  			<h6>MINISTERE DES ENSEIGNEMENTS SECONDAIRRES</h6>
			  <h6>REPUBLIQUE DU CAMEROON</h6>
			  <h6>Paix - Travail - Patrie</h6>
  		</td>
	</table>