<div class="row">
	<div class="col-md-3 text-center">
	  <h6>MINISTRY OF SECONDARY EDUCATION</h6>
	  <h6>REPUBLIC OF CAMEROON</h6>
	  <h6>Peace - Work - Fatherland</h6>
	</div>
	<div class="col-md-6 text-center">
	  <h4 class="english">GOVERNMENT BILINGUAL HIGH SCHOOL ATIELA-NKWEN</h4>
	  <h4 class="french">LYCEE BILINGUE D'ATIELA-NKWEN</h4>
	  <h3 class="english"><strong>ACADEMIC REPORT CARD</strong></h3>
	  <h4 class="french"><strong>BULLETIN DE NOTES</strong></h4>
	</div>
	<div class="col-md-3 text-center french"> 
	  <h6>MINISTERE DES ENSEIGNEMENTS SECONDAIRRES</h6>
	  <h6>REPUBLIQUE DU CAMEROON</h6>
	  <h6>Paix - Travail - Patrie</h6>
	</div>
</div>