<div ng-controller="NavtabsCtrl">
	<div class="row" style="margin-bottom:5px;">
		<div class="col-md-12">
			<div class="btn-group btn-group-justified" style="margin-right:0px;">
				<div class="btn-group" style="margin-right:0px;">
	        <a class="btn btn-lg btn-default btn-role dropdown-toggle" 
	           data-toggle="dropdown">
	          {{User.roles[userAccess].name}} <span class="caret"></span>
	        </a>
	        <ul class="dropdown-menu" role="menu">
	          <li ng-repeat="(accessKey, accessBool) in teacher.access" 
				  	    ng-if="accessBool === 1"
				  	    ng-class="accessKey === userAccess ? 'active' : ''">
					  	<a ng-click="login(accessKey)">{{User.roles[accessKey].name}}</a>	
				  	</li>
	        </ul>
	      </div>
			</div>
		</div>
	</div>

	<div class="row" style="padding-right:1px;">
		<div class="col-md-12">
			<div class="sidebar" >
				<ul class="nav nav-sidebar">
					<li ng-repeat="(tabIndex, tab) in TABS"
						ng-if="userHasAccess(tab)"
						ng-class="activeIfPage(tab.page)">
						<a ng-click="open({page:tab.page})"><i class="glyphicon" ng-class="tab.icon"></i> &nbsp;{{tab.label}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
