<div class="row ">
	<div class="col-md-2" ng-include="'views/_navstacked.html'"></div>

	<div class="col-md-10 marksheet" ng-controller="SchoolsCtrl">

  <div class="row">
  	<div class="col-md-7" style="border-right:solid 0px #ddd;">
  		<form name="addform" class="form-horizontal form-registration" role="form">
			  <div class="form-group">
			    <label for="uid" class="col-sm-3 control-label">School ID</label>
			    <div class="col-sm-9">
			      <p class="form-control-static">{{newSchool.id}}</p>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="nameEn" class="col-sm-3 control-label">School Name (English)</label>
			    <div class="col-sm-9">
			      <input id="nameEn"
			      			name="nameEn" 
			      		 class="form-control {{showValidation && newSchool.nameEn === '' ? 'invalid-input' : ''}}" 
			      		 placeholder="School Name (English)" 
			      		 ng-model="newSchool.nameEn">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="nameFr" class="col-sm-3 control-label">School Name (French)</label>
			    <div class="col-sm-9">
			      <input id="nameFr"
			      			name="nameFr" 
			      		 class="form-control {{showValidation && newSchool.nameFr === '' ? 'invalid-input' : ''}}" 
			      		 placeholder="School Name (French)" 
			      		 ng-model="newSchool.nameFr">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="division" class="col-sm-3 control-label">Division</label>
			    <div class="col-sm-9">
			      <div class="btn-group">
			        <button class=" btn btn-sm btn-default dropdown-toggle 
			        {{showValidation && newSchool.division === '' ? 'invalid-input' : ''}}" data-toggle="dropdown">
			          <span>{{data.divisions["division_" + newSchool.division].name || "Select Division"}}</span>
			          &nbsp;<span class="caret"></span>
			        </button>
			        <ul class="dropdown-menu">
			          <li ng-repeat="division in data.divisions">
			            <a ng-click="newSchool.division = division.id">{{division.name}}</a>
			          </li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="subdivision" class="col-sm-3 control-label">Subdivision</label>
			    <div class="col-sm-9">
			      <input id="subdivision"
			      			name="subdivision" 
			      		 class="form-control {{showValidation && newSchool.subdivision === '' ? 'invalid-input' : ''}}" 
			      		 placeholder="Subdivision" 
			      		 ng-model="newSchool.subdivision">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="numStudents" class="col-sm-3 control-label">Number of Students</label>
			    <div class="col-sm-9">
			      <input id="numStudents"
			      			name="numStudents" 
			      		 class="form-control {{showValidation && newSchool.numStudents === '' ? 'invalid-input' : ''}}" 
			      		 type="number"
			      		 placeholder="Number of Students" 
			      		 ng-model="newSchool.numStudents">
			    </div>
			  </div>
			  <br>
			  <div class="form-group">
			    <div class="col-sm-offset-3 col-sm-3">
			      <button type="submit" class="btn btn-info" ng-click="add(newSchool)">
			        Add School
			      </button>
			    </div>
			    <div class="col-sm-offset-1 col-sm-5">
			      <button type="submit" class="btn btn-info" ng-click="clearForm(newSchool)">
			        Clear All
			      </button>
			    </div>
			  </div>
			  <div class="alert alert-sm alert-warning" style="height:45px;padding-top:10px;" ng-if="showValidation">
   				<i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;
   				<strong>School Not Added.</strong> Please fill in all fields highlighted in red and try again.
   			  </div>
			</form>
  	</div>
  	<div class="col-md-5">
  	</div>
  </div>
  </div>
	
</div>	

