<div ng-include="'views/_navtabs.html'"></div>

<div class="marksheet" ng-controller="PromotionCtrl">

	<div>
		 <!-- <h2>{{form.name}}</h2> -->
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Class</td>
					<td>Passing</td>
					<td>Statistics</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(groupIndex, group) in groups" ng-if="group.inForm(formIndex)">
					<td>{{group.name}}</td>
					<td class="column" style="width:100px;">
						<input class='cell text-center' 
							   ng-model="group.forms[formIndex].pass"
							   tabindex="{{groupIndex + 1}}"
							   cell cell-nrow="{{groups.length}}">
					</td>
					<!-- <td>{{getStudentsPassing(formIndex, form.advance)}}</td> -->
					<td>64% of students will advance</td>
				</tr>
			</tbody>
		</table>
</div>
