<div ng-include="'views/_navtabs.html'"></div>

<div class="marksheet" ng-controller="StudentsCtrl">
  <div class="row">
  	<div class="col-md-8" style="border-right:solid 0px #ddd;">
  		<form class="form-horizontal" role="form">
			  <div class="form-group">
			    <label for="uid" class="col-sm-2 control-label">Student ID</label>
			    <div class="col-sm-10">
			      <p class="form-control-static">{{newStudent.id}}</p>
			    </div>
			  </div>
			  <div class="form-group" ng-controller="ClassmenuCtrl">
			    <label for="uid" class="col-sm-2 control-label">Class</label>
			    <div class="col-sm-10">
			      <div class="btn-group">
					    <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
					      {{newStudent.form ? forms[newStudent.form].name : "Select Form"}} 
					      &nbsp;<span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li ng-repeat="(formIndex, form) in forms">
					        <a ng-href="" ng-click="newStudent.form=formIndex">{{form.name}}</a>
					      </li>
					    </ul>
					  </div>
					  <!-- Department Dropdown -->
					  <div class="btn-group">
					    <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
					      {{departments[newStudent.department].name}} 
					      &nbsp;<span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li ng-repeat="(depKey, dep) in departments">
					        <a ng-click="newStudent.department = depKey">{{dep.name}}</a>
					      </li>
					    </ul>
					  </div>
			      <!-- Group Dropdown -->
					  <div class="btn-group">
					    <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
					      {{groups[newStudent.group].name}} 
					      &nbsp;<span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li ng-repeat="(groupKey, group) in groups">
					        <a ng-click="newStudent.group = groupKey">{{group.name}}</a>
					      </li>
					    </ul>
					  </div>
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="feeGroup" class="col-sm-2 control-label">Fee Group</label>
			    <div class="col-md-10">
			    	<div class="btn-group">
					    <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
					    	<span ng-if="newStudent.feeGroup !== ''">
					    		{{fees[newStudent.feeGroup].name}} ({{fees[newStudent.feeGroup].amount | currency:""}})
					    	</span>
					      &nbsp;<span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li ng-repeat="(feeKey, fee) in fees">
					        <a ng-click="newStudent.feeGroup = feeKey">
					        {{fee.name}} ({{fee.amount | currency:""}})</a>
					      </li>
					    </ul>
						</div>
			    </div>
			  </div>
			  <br>
			  <div class="form-group">
			    <label for="studentName" class="col-sm-2 control-label">Student Name</label>
			    <div class="col-sm-10">
			      <input id="studentName"
			      		 class="form-control" 
			      		 placeholder="Student Name" 
			      		 ng-model="newStudent.name">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="gender" class="col-sm-2 control-label">Gender</label>
			    <div class="col-sm-10">
			      <input id="gender"
			      		 class="form-control" 
			      		 placeholder="Gender" 
			      		 ng-model="newStudent.sex">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="birthdate" class="col-sm-2 control-label">Birthdate</label>
			    <div class="col-sm-10">
			      <input id="birthdate" 
			       		 class="form-control" 
			       		 placeholder="Birth Date" 
			       		 ng-model="newStudent.birth"
			       		 type="date">
			    </div>
			  </div>
			  <br>
			  <div class="form-group">
			    <label for="parentName" class="col-sm-2 control-label">Parent Name</label>
			    <div class="col-sm-10">
			      <input id="parentName" 
			      		 class="form-control" 
			      		 placeholder="Parent Name" 
			      		 ng-model="newStudent.parentName">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="parentPhone" class="col-sm-2 control-label">Parent Phone</label>
			    <div class="col-sm-10">
			      <input id="parentPhone"
			      		 class="form-control" 
			      		 placeholder="Parent Phone" 
			      		 ng-model="newStudent.parentPhone">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="parentEmail" class="col-sm-2 control-label">Parent Email</label>
			    <div class="col-sm-10">
			      <input id="parentEmail" 
			             class="form-control pull-left" 
					     placeholder="Parent EMail"
					     ng-model="newStudent.parentEmail">
			    </div>
			  </div>
			  <br>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-info" ng-click="addStudent()">
			        Add Student 
			      </button>
			    </div>
			  </div>
			</form>
  	</div>
  	<div class="col-md-3">
  		<!-- <form class="form-horizontal" role="form">
  			<div class="form-group">
			    <label class="col-sm-5 control-label">Fee Payments</label>
			  </div>
  			<div class="form-group">
			    <div class="col-sm-10">
			      <input id="feePayment" 
			             class="form-control pull-left" 
					     placeholder="New Payment"
					     ng-model="newPayment">
			    </div>
			    <div class="col-sm-2">
			      <button type="submit" class="btn btn-success" ng-click="addPayment()">
			        Add Payment
			      </button>
			    </div>
			  </div>
  		</form> -->
  	</div>
  </div>
	
</div>	

