<div ng-include="'views/_navtabs.html'"></div>

<div class="marksheet" ng-controller="StudentsCtrl">

	<div ng-include="'views/_menu-basic.html'" style="margin-bottom:10px;"></div>

	<!-- Student View -->
	<table class="table table-striped table-bordered">
		<thead>
			<!-- <tr class="toolbar">
				<th style="width:100px;padding:8px !important;">
					{{newStudent.id}}
				</th>
				<th>
					<input class="form-control" placeholder="Name" ng-model="newStudent.name">
				</th>
				<th style="width:90px;">
					<input class="form-control" placeholder="Gender" ng-model="newStudent.sex">
				</th>
				<th style="width:100px;">
					<input class="form-control" placeholder="Birth Date" ng-model="newStudent.birth">
				</th>
				<th>
					<input class="form-control" placeholder="Parent Name" ng-model="newStudent.parentName">
				</th>
				<th>
					<input class="form-control" placeholder="Parent Phone" ng-model="newStudent.parentPhone">
				</th>
				<th colspan="2">
					<input class="form-control pull-left" 
						   placeholder="Parent EMail" 
						   style="width:70%;margin-right:5px;"
						   ng-model="newStudent.parentEmail"
						>
					<button type="submit" 
							style="width:28%;"
						 	class="btn btn-default btn-info pull-right"
						 	ng-click="addStudent()">Add</button>
				</th>
			</tr> -->
			<tr>
				<th style="width:100px;">ID</th>
				<th>Name</th>
				<th>Gender</th>
				<th>Birth Date</th>
				<th>Parent Name</th>
				<th>Parent Phone</th>
				<th>Parent Email</th>
				<th>Promotion</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(studentIndex, student) in students">
				<td style="width:100px;">
					<a ng-click="open({studentId:student.id, page:'profile'})">{{student.id}}</a>
				</td>
				<td>{{student.name}}</td>
				<td>{{student.sex}}</td>
				<td>{{student.birth | date:'dd-mm-yyyy'}}</td>
				<td>{{student.parentName}}</td>
				<td>{{student.parentPhone}}</td>
				<td>{{student.parentEmail}}</td>
				<td class="promotion">
					<div  class="btn-group">
					  <!-- If status is set to automatic -->
						<button ng-if="student.status['2014'] === 0 && studentStatus[student.id]"
						      	class="btn btn-sm btn-success dropdown-toggle" 
						      	data-toggle="dropdown">
							<i class="glyphicon" 
							   ng-class="PROMOTE_OPTIONS[0].icon"></i>
							&nbsp;{{PROMOTE_OPTIONS[1].name}}
						</button>
				    
						<button ng-if="student.status['2014'] === 0 && !studentStatus[student.id]"
						      class="btn btn-sm btn-warning dropdown-toggle" 
						      data-toggle="dropdown">
						    <i class="glyphicon" 
							   ng-class="PROMOTE_OPTIONS[0].icon"></i>
							&nbsp;{{PROMOTE_OPTIONS[2].name}}
						</button>
				      
					  <!-- Otherwise show whatever it's manually set to -->
					  	<button ng-if="student.status['2014'] > 0"
					  	        class="btn btn-sm dropdown-toggle" 
					  	        ng-class="'btn-'+PROMOTE_OPTIONS[student.status['2014']].style"
					  	        data-toggle="dropdown">
					  	    <i ng-class="PROMOTE_OPTIONS[student.status['2014']].icon"></i>
					  		&nbsp;{{PROMOTE_OPTIONS[student.status['2014']].name}}
					  	</button>
				    
						<ul class="dropdown-menu">
						  <li>
						    <a ng-click="student.setStatus('2014', 0)">
						    	<i ng-class="PROMOTE_OPTIONS[0].icon"></i>
						    	{{PROMOTE_OPTIONS[0].name}}
						    </a>
						  </li>
						  <li class="divider"></li>
						  <li ng-repeat="(optionIndex, option) in PROMOTE_OPTIONS.slice(1)">
						    <a ng-click="student.setStatus('2014', optionIndex + 1)">
						    	<i ng-class="PROMOTE_OPTIONS[optionIndex + 1].icon"></i>
						    	{{PROMOTE_OPTIONS[optionIndex + 1].name}}
						    </a>
						  </li>
						</ul>
				  </div><!-- /btn-group -->
  				</td>
			</tr>
		</tbody>
	</table>
</div>	

