<div class="row">
	<div class="col-md-2" ng-include="'views/_navstacked.html'"></div>
	<div class="col-md-10 marksheet" ng-controller="ReportsCtrl">
    <div class="printonly" ng-controller="ClassmenuCtrl">
      <h3>Annual Results Statistics</h3>
      <h5>{{route.form['name']}}</h5>
    </div>
    <div class="noprint" style="padding-bottom:10px;">
      <div ng-controller="ClassmenuCtrl">
        <nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px;">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left:5px;padding-right:5px;">
              <form class="navbar-form navbar-left" role="search" style="padding-left:0px;width:100%;padding-right:0px;">
                <div class="form-group">
                  <div class="btn-group">
                      <button class="btn btn-md btn-default dropdown-toggle" data-toggle="dropdown">
                        {{route.form['name']}}   <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <!-- <li>
                          <a ng-click="search.form = ''">All Forms</a>
                        </li>
                        <li class="divider"></li> -->
                        <li ng-repeat="(formIndex, form) in route.forms">
                          <a ng-click="open({formIndex:formIndex})">
                            {{route.forms[formIndex].name}}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </nav>
      </div>  
    </div>
    <table class="table table-striped table-bordered table-compact text-center">
      <thead>
        <tr style="text-align:center">
          <th style="vertical-align:middle" rowspan="2">Class / Trade</th>
          <th style="text-align:center" colspan="4">Number</th>
          <th style="text-align:center" style="vertical-align:middle" rowspan="2">% Pass</th>
          <th style="text-align:center" colspan="3">Average</th>
          <th style="text-align:center" colspan="2">Performance By Subject</th>
          <th style="text-align:center" colspan="3">Number</th>
        </tr>
        <tr style="text-align:center">
          <th style="text-align:center">On Roll</th>
          <th style="text-align:center">Sat</th>
          <th style="text-align:center">Pass</th>
          <th style="text-align:center">Fail</th>
          <th style="text-align:center">High</th>
          <th style="text-align:center">Low</th>
          <th style="text-align:center">Class</th>
          <th style="text-align:center">Good</th>
          <th style="text-align:center">Bad</th>
          <th style="text-align:center">Promote</th>
          <th style="text-align:center">Repeat</th>
          <!-- <th style="text-align:center">Withdrawal</th> -->
          <th style="text-align:center">Dismiss</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr class="success">
          <td style="text-align:left" colspan="15"><strong>{{data.forms[formIndex].name}}</strong></td>
        </tr> -->
        <!-- <tr>
          <td colspan="15">
            <table class="table table-striped table-bordered table-compact text-center" ng-repeat="(deptId, deptStats) in formStats">
              <tr>
                <td colspan="15">{{data.depts[deptId].name}}</td>
              </tr> -->
              <tr ng-repeat="(groupId, classStats) in data.classStats">
                <td>{{data.groups[groupId].name}}</td>
                <td>{{classStats.numStudents}}</td>
                <td>{{classStats.numPresent}}</td>
                <td>{{classStats.passing}}</td>
                <td>{{classStats.numPresent - classStats.passing}}</td>
                <td>{{(classStats.passing / classStats.numPresent) * 100 | number:0}}</td>
                <td>{{classStats.aveHigh | number:1}}</td>
                <td>{{classStats.aveLow !== 21 ? classStats.aveLow  : "" | number:1}}</td>
                <td>{{classStats.aveClass | number:1}}</td>
                <td>{{data.subjects[classStats.goodSubjects[0].subject].en}}<br>
                  {{data.subjects[classStats.goodSubjects[1].subject].en}}<br>
                  {{data.subjects[classStats.goodSubjects[2].subject].en}}
                </td>
                <td>{{data.subjects[classStats.poorSubjects[2].subject].en}}<br>
                  {{data.subjects[classStats.poorSubjects[1].subject].en}}<br>
                  {{data.subjects[classStats.poorSubjects[0].subject].en}}
                </td>
                <td>{{classStats.promote}}</td>
                <td>{{classStats.repeat}}</td>
                <!-- <td>{{classStats.withdrawal}}</td> -->
                <td>{{classStats.dismiss}}</td>
              </tr>
              <!-- <tr>
                <td><strong>{{data.depts[deptId].name}} Totals</strong></td>
                <td>{{data.deptStats[formIndex][deptId].numStudents}}</td>
                <td>{{data.deptStats[formIndex][deptId].numPresent}}</td>
                <td>{{data.deptStats[formIndex][deptId].passing}}</td>
                <td>{{data.deptStats[formIndex][deptId].numPresent - data.deptStats[formIndex][deptId].passing}}</td>
                <td>{{(data.deptStats[formIndex][deptId].passing / data.deptStats[formIndex][deptId].numPresent) * 100 | number:0}}</td>
                <td>{{data.deptStats[formIndex][deptId].aveHigh | number:1}}</td>
                <td>{{data.deptStats[formIndex][deptId].aveLow | number:1}}</td>
                <td>{{data.deptStats[formIndex][deptId].aveClass | number:1}}</td>
                <td></td>
                <td></td>
                <td>{{data.deptStats[formIndex][deptId].promote}}</td>
                <td>{{data.deptStats[formIndex][deptId].repeat}}</td>
                <td>{{data.deptStats[formIndex][deptId].withdrawal}}</td>
                <td>{{data.deptStats[formIndex][deptId].dismiss}}</td>
              </tr>
            </table>
          </td>
        </tr> -->
        <tr class="success">
          <td><strong>{{data.forms[formIndex].name}} Totals</strong></td>
          <td>{{data.formStats.numStudents}}</td>
          <td>{{data.formStats.numPresent}}</td>
          <td>{{data.formStats.passing}}</td>
          <td>{{data.formStats.numPresent - data.formStats[formIndex].passing}}</td>
          <td>{{(data.formStats.passing / data.formStats.numPresent) * 100 | number:0}}</td>
          <td>{{data.formStats.aveHigh | number:1}}</td>
          <td>{{data.formStats.aveLow !== 21 ? data.formStats.aveLow : "" | number:1}}</td>
          <td>{{data.formStats.aveClass | number:1}}</td>
          <td>{{data.subjects[data.formStats.goodSubjects[0].subject].en}}<br>
                  {{data.subjects[data.formStats.goodSubjects[1].subject].en}}<br>
                  {{data.subjects[data.formStats.goodSubjects[2].subject].en}}
          </td>
          <td>{{data.subjects[data.formStats.poorSubjects[2].subject].en}}<br>
            {{data.subjects[data.formStats.poorSubjects[1].subject].en}}<br>
            {{data.subjects[data.formStats.poorSubjects[0].subject].en}}
          </td>
          <td>{{data.formStats.promote}}</td>
          <td>{{data.formStats.repeat}}</td>
          <!-- <td>{{data.formStats[formIndex].withdrawal}}</td> -->
          <td>{{data.formStats.dismiss}}</td>
        </tr>
      </tbody>

      </tbody>
    </table>
  </div>
</div>