<div class="fitpage">
<div class="row">
	<div class="col-md-2 side-nav" ng-include="'views/_navstacked.html'"></div>

	<div class="col-md-10 marksheet" ng-controller="ClasscouncilCtrl">
		<!-- Form Dropdown -->
		<div class="btn-group noprint">
		    <button class="btn btn-md btn-default dropdown-toggle" data-toggle="dropdown">
		      {{data.forms[formIndex].name}} <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu">
			    <li ng-repeat="(formIndex, form) in data.forms">
			        <a ng-click="open({formIndex:formIndex})">
				       	{{data.forms[formIndex].name}}
				     </a>
				</li>
			</ul>
		</div>
		<!-- Department Dropdown -->
		<div  class="btn-group noprint">
		    <button class="btn btn-md btn-default dropdown-toggle" data-toggle="dropdown">
		      {{data.departments[deptId].name || "Select Department"}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li ng-repeat="(deptId, dept) in data.departments">
				    <a ng-click="open({deptId:deptId})">
				       	{{data.departments[deptId].name}}
				    </a>
				</li>
			</ul>
		</div>
		<!-- Group Dropdown -->
		<div  class="btn-group noprint">
		    <button class="btn btn-md btn-default dropdown-toggle" data-toggle="dropdown">
		      {{data.groups[groupId].name || "Select Group"}} <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu">
			    <li ng-repeat="(groupId, group) in data.groups">
			        <a ng-click="open({groupId:groupId})">
			      	{{data.groups[groupId].name}}
				    </a>
				</li>
			</ul>
		</div>
		<!-- Term Dropdown -->
        <div  class="btn-group noprint">
            <button class="btn btn-md btn-default dropdown-toggle" data-toggle="dropdown">
                {{data.terms[termIndex].name || "All Terms"}}   <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            	<li>
            		<a ng-click="open({termIndex:3})">All Terms</a>
            	</li>
            	<li class="divider"></li>
                <li ng-repeat="(termIndex, term) in [1, 2, 3]">
                    <a ng-click="open({termIndex:termIndex})">
                        Term {{term}}
                    </a>
                </li>
            </ul>
        </div>
									

		<!-- School Name Letterhead -->
	<div class="letterhead" ng-include="'views/_letterhead.html'"></div>

	<table class="table"><tr>
		<td>
			<p><b>Academic Year:</b> <i>{{data.schoolInfo.schoolyear}}</i></p>
			<p><b>Term:</b> <i>{{data.terms[termIndex].name || "All Terms"}}</i></p>
		</td>
		<td>
			<p><b>Class:</b> <i>{{data.forms[formIndex].name + data.groups[groupId].name}}</i></p>
			<p><b>Department:</b> <i>{{data.departments[deptId].name}}</i></p>
		</td>
		<td>
			<table ng-if="userAccess === 'classmaster'"><tr class="noprint"><td><b>Passing Score:</b></td>
			<td width="50px" ng-if="userAccess === 'classmaster'">
				<input type="text" class="form-control noprint" ng-model="score" ng-blur="updatePassingScore(score)"></input></td>	
			</tr><tr class="printonly"><td><p><b>Passing Score:</b><i>{{score}}</i></p></td></tr>
			</table>
			<p ng-if="userAccess !== 'classmaster'"><b>Passing Score:</b><i>{{score}}</i></p>
			<p><b>Date:</b> <i>{{data.currentDate | date:"medium"}}</i></p>
		</td>
	</tr></table>

	<h3>Basic Data</h3>
	<table class="table"><tr>
		<td width="50px"></td>
		<td>
			<table>
			<tr><td>Number on Roll: </td><td><u>{{groupStats.numStudents}}</u></td></tr>
			<tr><td>Number Present: </td><td><u>{{groupStats.numPresent}}</u></td></tr>
			<tr><td>Number With {{data.classcouncil.passingScore}}+ Average: </td><td><u>{{groupStats.passing}}</u></td></tr>
			<tr><td>Number With {{data.classcouncil.passingScore}}- Average: </td><td><u>{{groupStats.failing}}</u></td></tr>
			</table>
		</td>
		<td>
			<table padding="15px">
			<tr><td>Percentage Pass: </td><td><u>{{(groupStats.percentPassing * 100 || 0) | number:1}}</u></td></tr>
			<tr><td>Percentage Fail: </td><td><u>{{(groupStats.percentFailing * 100 || 0) | number:1}}</u></td></tr>
			<tr><td>Class Average: </td><td><u>{{(groupStats.classAverage || 0) | number: 2}}</u></td></tr>
			<tr><td>Class Range:</td><td><u>{{groupStats.classRange | number: 2}}</u></td></tr>
			</table>
		</td>
		<td width="50px"></td>
	</tr></table>

	<h3>Student Performance</h3>
	<table class="table"><tr>
		<td width="50px"></td>
		<td>
			<b>Three Best Students:</b>
			<table>
			<tr ng-if="data.bestStudents[0] && data.bestStudents[0].average !== -1">
				<td width="50px"></td><td>1- <u>{{data.bestStudents[0].name}}</u></td></tr>
			<tr ng-if="data.bestStudents[1] && data.bestStudents[1].average !== -1">
				<td width="50px"></td><td>2- <u>{{data.bestStudents[1].name}}</u></td></tr>
			<tr ng-if="data.bestStudents[2] && data.bestStudents[2].average !== -1">
				<td width="50px"></td><td>3- <u>{{data.bestStudents[2].name}}</u></td></tr>
			</table>
			<br>
			<b>Three Worst Students:</b>
			<table>
			<tr ng-if="data.worstStudents[0] && data.worstStudents[0].average !== -1">
				<td width="50px"></td><td>1- <u>{{data.worstStudents[0].name}}</u></td></tr>
			<tr ng-if="data.worstStudents[1] && data.worstStudents[1].average !== -1">
				<td width="50px"></td><td>2- <u>{{data.worstStudents[1].name}}</u></td></tr>
			<tr ng-if="data.worstStudents[2] && data.worstStudents[2].average !== -1">
				<td width="50px"></td><td>3- <u>{{data.worstStudents[2].name}}</u></td></tr>
			</table>
		</td>
		<td>
			<b>Average</b>
			<table>
			<tr ng-if="data.bestStudents[0] && data.bestStudents[0].average !== -1">
				<td><u>{{data.bestStudents[0].average || "" | number:2}}</u></td></tr>
			<tr ng-if="data.bestStudents[1] && data.bestStudents[1].average !== -1">
				<td><u>{{data.bestStudents[1].average || "" | number:2}}</u></td></tr>
			<tr ng-if="data.bestStudents[2] && data.bestStudents[2].average !== -1">
				<td><u>{{data.bestStudents[2].average || "" | number:2}}</u></td></tr>
			</table>
			<br>
			<b>Average</b>
			<table>
			<tr ng-if="data.worstStudents[0] && data.worstStudents[0].average !== -1">
				<td><u>{{data.worstStudents[0].average || "" | number:2}}</u></td></tr>
			<tr ng-if="data.worstStudents[1] && data.worstStudents[1].average !== -1">
				<td><u>{{data.worstStudents[1].average || "" | number:2}}</u></td></tr>
			<tr ng-if="data.worstStudents[2] && data.worstStudents[2].average !== -1">
				<td><u>{{data.worstStudents[2].average || "" | number:2}}</u></td></tr>
			</table>
		</td>
		<td width="50px"></td>
	</tr>
	</table>
	
	<h3>General Remarks</h3>
			
	<table class="table"><tr><td width="50px"></td><td>
	<table><tr>
		
		<th>Academics:</th>
		<td ng-if="userAccess === 'classmaster'">
			<div class="btn-group noprint">
			  	<button class="btn btn-sm btn-default dropdown-toggle" 
			  		data-toggle="dropdown">{{data.classcouncil.academicRemark[termIndex].text || "Select Remark"}}
			  		<span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu">
			    	<li ng-repeat="(remarkIndex, remark) in data.remarks">
                        <a ng-click="changeAcRemark(remark)">{{remark.text}}</a>
                    </li>
			  	</ul>
			</div>
			<div class="printonly">{{data.classcouncil.academicRemark[termIndex].text}}</div>
		</td>
		<td ng-if="userAccess !== 'classmaster'">{{data.classcouncil.academicRemark[termIndex].text || "No Remark"}}</td>
	</tr><tr>
		<th>Conduct:</th>
		<td ng-if="userAccess === 'classmaster'">
			<div class="btn-group noprint">
			  	<button class="btn btn-sm btn-default dropdown-toggle" 
			  		data-toggle="dropdown">{{data.classcouncil.conductRemark.text || "Select Remark"}}
			  		<span class="caret"></span>
			  	</button>
			  	<ul class="dropdown-menu">
			    	<li ng-repeat="(remarkIndex, remark) in data.remarks">
                       	<a ng-click="changeConRemark(remark)">{{remark.text}}</a>
                   	</li>
			  	</ul>
			</div>
			<div class="printonly">{{data.classcouncil.conductRemark.text}}</div>
		</td>
		<td ng-if="userAccess !== 'classmaster'">{{data.classcouncil.conductRemark.text || "No Remark"}}</td>
	</tr></table></td></tr></table>

	<h3>Possible Factors/Reasons</h3>
	<table class="table"><tr class="noprint" ng-if="userAccess === 'classmaster'"><td>
		<textarea class="form-control noprint" placeholder="Possible Factors/Reasons" ng-model="data.classcouncil.factors[termIndex]" ng-blur="save()"></textarea></td></tr>
		<tr class="printonly"><td>{{data.classcouncil.factors[termIndex] | limitTo:150}}</td></tr>
		<tr class="noprint" ng-if="userAccess !== 'classmaster'"><td>{{data.classcouncil.factors[termIndex]}}</td>
	</tr></table>

	<table><tr>
		<td width="400px"></td>
		<th colspan="2">{{data.schoolInfo.version === "ghs" ? "Class Master/Mistress" : "Head of Department"}}</th></tr>
	<tr height="30px"><td></td><td style="text-align:right">Name:</td><td width="300px" ng-if="userAccess === 'classmaster'">
		<input type="text" class="form-control noprint" placeholder="Class Master" ng-model="data.classcouncil.classMaster" ng-blur="save()">
		</input>
		<i class="printonly">{{data.classcouncil.classMaster}}</i></td>
		<td ng-if="userAccess !== 'classmaster'">{{data.classcouncil.classMaster}}</td>
	</tr>
	<tr height="30px"><td></td><td style="text-align:right">Signature:</td><td></td></tr>
	<tr height="30px"><td></td><td style="text-align:right">Date:</td><td></td></tr>
	</table>
		
	</div>
</div>
</div>