<div class="row ">
	<div class="col-md-2" ng-include="'views/_navstacked.html'"></div>

	<div class="col-md-10 marksheet" ng-controller="ClasscouncilreportCtrl">

	

		<!-- Form Dropdown -->
		<div class="" style="padding-bottom:10px;">
			<div class="btn-group">
			  <button class="btn btn-lg btn-light dropdown-toggle" 
			  			  data-toggle="dropdown">
			    {{form.name}} <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li ng-repeat="(formIndex, form) in forms">
			      <a ng-href="" ng-click="open({formIndex:formIndex})">{{form.name}}</a>
			    </li>
			  </ul>
			</div>
		</div>

		<!-- School Name Letterhead -->
	<div class="letterhead" ng-include="'views/_letterhead.html'"></div>

	<div class="row">
		<div class="col-md-6">
			<p><b>ACADEMIC YEAR:</b> <i>2014/2015</i></p>
			<p><b>TERM:</b> <i>{{term.name}}</i></p>
			</div>
			<div class="col-md-6">
			<p><b>CLASS:</b> <i>{{form.name}}</i></p>
			<p><b>DATE:</b> <i>{{currentDate | date:"medium"}}</i></p>
			</div>
	</div>

	<h3>Basic Data</h3>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<table>
			<tr><td>Number on Roll: </td><td><u>{{groupStats.numStudents}}</u></td></tr>
			<tr><td>Number Present: </td><td><u>{{groupStats.numPresent}}</u></td></tr>
			<tr><td>Number With 10+ Average: </td><td><u>{{groupStats.passing}}</u></td></tr>
			<tr><td>Number With 10- Average: </td><td><u>{{groupStats.failing}}</u></td></tr>
			</table>
		</div>
		<div class="col-md-5">
			<table padding="15px">
			<tr><td>Percentage Pass: </td><td><u>{{(groupStats.percentPassing * 100 || 0) | number:1}}</u></td></tr>
			<tr><td>Percentage Fail: </td><td><u>{{(groupStats.percentFailing * 100 || 0) | number:1}}</u></td></tr>
			<tr><td>Class Average: </td><td><u>{{groupStats.classAverage}}</u></td></tr>
			<tr><td>Class Range:</td><td><u>{{groupStats.classRange}}</u></td></tr>
			</table>
		</div>
		<div class="col-md-1"></div>
	</div>
	<h3>Student Performance</h3>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<p><b>Three Best Students:</b></p>
		</div>
		<div class="col-md-6">
			<p><b>Average</b></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
			<p>1- <u>Student Name</u></p>
			<p>2- <u>Student Name</u></p>
			<p>3- <u>Student Name</u></p>
		</div>
		<div class="col-md-6">
			<p><u>Average</u></p>
			<p><u>Average</u></p>
			<p><u>Average</u></p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<p><b>Three Worst Students:</b></p>
		</div>
		<div class="col-md-6">
			<p><b>Average</b></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
			<p>1- <u>Student Name</u></p>
			<p>2- <u>Student Name</u></p>
			<p>3- <u>Student Name</u></p>
		</div>
		<div class="col-md-6">
			<p><u>Average</u></p>
			<p><u>Average</u></p>
			<p><u>Average</u></p>
		</div>
	</div>
	
	<div class = "row">
		<div class="col-md-12">
			<h3>General Remarks</h3>
		</div>
	</div>

	<div class = "row">
		<div class="col-md-12">
			<h3>Possible Factors/Reasons</h3>
			<table border="1" width="800" height="150">
			<tr><td></td></tr>
			</table>
		</div>
	</div>
	<br><br>

	<div class = "row">
		<div class="col-md-4"></div>
		<div class="col-md-8">
			<p><b>Class Master/Mistress</b></p>
			<p>Name:</p>
			<p>Signature:</p>
			<p>Date:</p>
		</div>
	</div>
		
	</div>
</div>