<div class="row ">
	<div class="col-md-2" ng-include="'views/_navstacked.html'"></div>
	<div class="col-md-10 marksheet" ng-controller="DivisionsCtrl">

		<!-- School View -->
		<table class="table table-striped table-bordered table-compact">
			<thead>
				<tr class="toolbar noprint">
				  	<th>
	  					<input  type="text" class="form-control" placeholder="Name" ng-model="newDivision.name">
		  			</th>
					<th style="text-align:center">
		  				<div class="btn-group">
						    <button class="btn btn-sm btn-default dropdown-toggle" 
						    				data-toggle="dropdown">
						      {{newDivision.region || "Select Region"}} 
						      &nbsp;<span class="caret"></span>
						    </button>
						    <ul class="dropdown-menu">
						      <li ng-repeat="(regionIndex, region) in data.regions">
						        <a ng-click="newDivision.region = region">{{region}}</a>
						      </li>
						    </ul>
						</div>
						</th>
							<th>
	  					<input  type="number" class="form-control" placeholder="Number of Females First Cycle" ng-model="newDivision.numFemaleCycle1">
		  			</th>
		  			<th>
	  					<input  type="number" class="form-control" placeholder="Number of Females Second Cycle" ng-model="newDivision.numFemaleCycle2">
		  			</th>
		  			<th>
	  					<input  type="number" class="form-control" placeholder="Number of Males First Cycle" ng-model="newDivision.numMaleCycle1">
		  			</th>
		  			<th>
	  					<input  type="number" class="form-control" placeholder="Number of Males Second Cycle" ng-model="newDivision.numMaleCycle2">
		  			</th>
		  			<th>
		  				<button type="submit" class="btn btn-default" 
		  				ng-class="newDivision.name && newDivision.region ? '' : 'disabled'" 
		  				ng-click="add(newDivision)">
				        	Add
				        </button>
		  			</th>
		  			<th colspan="2"></th>
				</tr>
				<tr>
					<!-- <th style="width:100px;">ID</th> -->
					<th>Name (Eng)</th>
					<th>Region</th>
					<th>Number of Females</th>
					<th>Number of Females First Cycle</th>
					<th>Number of Females Second Cycle</th>
					<th>Number of Males</th>
					<th>Number of Males First Cycle</th>
					<th>Number of Males Second Cycle</th>
					<th>Number of Males</th>
					<th class="noprint">Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(divisionIndex, division) in data.divisions">
					<td><a ng-click="open({divisionId:division._id, page:'divisionprofile'})">
					{{division.name}}</a></td>
					<td>{{division.region}}</td>
					<td>{{division.numFemaleCycle1 + division.numFemaleCycle2 | number:0}}</td>
					<td>{{division.numFemaleCycle1 | number:0}}</td>
					<td>{{division.numFemaleCycle2 | number:0}}</td>
					<td>{{division.numMaleCycle1 + division.numMaleCycle2 | number:0}}</td>
					<td>{{division.numMaleCycle1 | number:0}}</td>
					<td>{{division.numMaleCycle2 | number:0}}</td>
					<td class="remove text-center noprint" style="width:80px;">
						<a ng-click="remove(division)" 
						   ng-if="countSchools(division) === 0">
							<i class="glyphicon glyphicon-remove"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>	

