<div class="row">
	<div class="col-md-2" ng-include="'views/_navstacked.html'"></div>
	<div class="col-md-10 marksheet" ng-controller="EnrollmentCtrl">
    <div class="printonly" ng-controller="ClassmenuCtrl">
      <h3>Enrollment Statistics</h3>
      <h5>{{route.form['name']}}</h5>
    </div>
    <div class="noprint" style="padding-bottom:10px;">
      <div ng-controller="ClassmenuCtrl">
        <nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px;">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left:5px;padding-right:5px;">
              <form class="navbar-form navbar-left" role="search" style="padding-left:0px;width:100%;padding-right:0px;">
                <div class="form-group">
                  <div class="btn-group">
                      <button class="btn btn-md btn-default dropdown-toggle" data-toggle="dropdown">
                        {{route.form['name']}}   <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a ng-click="toggleAllForms()">All Forms</a>
                        </li>
                        <li class="divider"></li>
                        <li ng-repeat="(formIndex, form) in route.forms">
                          <a ng-click="open({formIndex:formIndex})">
                            {{route.forms[formIndex].name}}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </nav>
      </div>  
    </div>
    <table class="table table-striped table-bordered table-compact text-center">
      <thead>
        <tr style="text-align:center">
          <th style="vertical-align:middle" rowspan="2">Class</th>
          <th style="text-align:center" colspan="3">Enrollment Beginning of Year</th>
          <th style="text-align:center" colspan="3">Enrollment End of Year</th>
          <th style="text-align:center" colspan="3">Promoted</th>
          <th style="text-align:center" colspan="3">Repeating</th>
          <th style="text-align:center" colspan="3">Withdrawn</th>
          <th style="text-align:center" colspan="3">Dismissed</th>
        </tr>
        <tr style="text-align:center">
          <th style="text-align:center">Boys</th>
          <th style="text-align:center">Girls</th>
          <th style="text-align:center">Total</th>
          <th style="text-align:center">Boys</th>
          <th style="text-align:center">Girls</th>
          <th style="text-align:center">Total</th>
          <th style="text-align:center">Boys</th>
          <th style="text-align:center">Girls</th>
          <th style="text-align:center">Total</th>
          <th style="text-align:center">Boys</th>
          <th style="text-align:center">Girls</th>
          <th style="text-align:center">Total</th>
          <th style="text-align:center">Boys</th>
          <th style="text-align:center">Girls</th>
          <th style="text-align:center">Total</th>
          <th style="text-align:center">Boys</th>
          <th style="text-align:center">Girls</th>
          <th style="text-align:center">Total</th>
        </tr>
      </thead>
      <tbody ng-repeat="(deptId, deptStats) in data.classStats">
        <tr class="success">
          <td style="text-align:left" colspan="19"><strong>{{data.depts[deptId].name}}</strong></td>
        </tr>
        <tr ng-repeat="(groupId, classStats) in deptStats">
          <td>{{data.groups[groupId].name}}</td>
          <td>{{classStats.boysOnRoll}}</td>
          <td>{{classStats.girlsOnRoll}}</td>
          <td>{{classStats.boysOnRoll + classStats.girlsOnRoll}}</td>
          <td>{{classStats.boysEOY}}</td>
          <td>{{classStats.girlsEOY}}</td>
          <td>{{classStats.boysEOY + classStats.girlsEOY}}</td>
          <td>{{classStats.boysPromote}}</td>
          <td>{{classStats.girlsPromote}}</td>
          <td>{{classStats.boysPromote + classStats.girlsPromote}}</td>
          <td>{{classStats.boysRepeat}}</td>
          <td>{{classStats.girlsRepeat}}</td>
          <td>{{classStats.boysRepeating + classStats.girlsRepeat}}</td>
          <td>{{classStats.boysWithdraw}}</td>
          <td>{{classStats.girlsWithdraw}}</td>
          <td>{{classStats.boysWithdraw + classStats.girlsWithdraw}}</td>
          <td>{{classStats.boysDismiss}}</td>
          <td>{{classStats.girlsDismiss}}</td>
          <td>{{classStats.boysDismiss + classStats.girlsDismiss}}</td>
          
        </tr>
        <tr class="success">
          <td><strong>{{data.depts[deptId].name}} Totals</strong></td>
          <td>{{data.deptStats[deptId].boysOnRoll}}</td>
          <td>{{data.deptStats[deptId].girlsOnRoll}}</td>
          <td>{{data.deptStats[deptId].boysOnRoll + data.deptStats[deptId].girlsOnRoll}}</td>
          <td>{{data.deptStats[deptId].boysEOY}}</td>
          <td>{{data.deptStats[deptId].girlsEOY}}</td>
          <td>{{data.deptStats[deptId].boysEOY + data.deptStats[deptId].girlsEOY}}</td>
          <td>{{data.deptStats[deptId].boysPromote}}</td>
          <td>{{data.deptStats[deptId].girlsPromote}}</td>
          <td>{{data.deptStats[deptId].boysPromote + data.deptStats[deptId].girlsPromote}}</td>
          <td>{{data.deptStats[deptId].boysRepeat}}</td>
          <td>{{data.deptStats[deptId].girlsRepeat}}</td>
          <td>{{data.deptStats[deptId].boysRepeat + data.deptStats[deptId].girlsRepeat}}</td>
          <td>{{data.deptStats[deptId].boysWithdraw}}</td>
          <td>{{data.deptStats[deptId].girlsWithdraw}}</td>
          <td>{{data.deptStats[deptId].boysWithdraw + data.deptStats[deptId].girlsWithdraw}}</td>
          <td>{{data.deptStats[deptId].boysDismiss}}</td>
          <td>{{data.deptStats[deptId].girlsDismiss}}</td>
          <td>{{data.deptStats[deptId].boysDismiss + data.deptStats[deptId].girlsDismiss}}</td>
        </tr>
      </tbody>
      <tbody>
        <tr class="danger">
          <td><strong>{{data.forms[formIndex].name}} Totals</strong></td>
          <td>{{data.formStats.boysOnRoll}}</td>
          <td>{{data.formStats.girlsOnRoll}}</td>
          <td>{{data.formStats.boysOnRoll + data.formStats.girlsOnRoll}}</td>
          <td>{{data.formStats.boysEOY}}</td>
          <td>{{data.formStats.girlsEOY}}</td>
          <td>{{data.formStats.boysEOY + data.formStats.girlsEOY}}</td>
          <td>{{data.formStats.boysPromote}}</td>
          <td>{{data.formStats.girlsPromote}}</td>
          <td>{{data.formStats.boysPromote + data.formStats.girlsPromote}}</td>
          <td>{{data.formStats.boysRepeat}}</td>
          <td>{{data.formStats.girlsRepeat}}</td>
          <td>{{data.formStats.boysRepeat + data.formStats.girlsRepeat}}</td>
          <td>{{data.formStats.boysWithdraw}}</td>
          <td>{{data.formStats.girlsWithdraw}}</td>
          <td>{{data.formStats.boysWithdraw + data.formStats.girlsWithdraw}}</td>
          <td>{{data.formStats.boysDismiss}}</td>
          <td>{{data.formStats.girlsDismiss}}</td>
          <td>{{data.formStats.boysDismiss + data.formStats.girlsDismiss}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>