<div class="row">
  <div class="col-md-2" ng-include="'views/_navstacked.html'"></div>

  <div class="col-md-10 marksheet" ng-controller="InspectorateProfileCtrl">
  <div class="printonly"><h3>Inspecto Profile</h3></div>
  <table>
  <tr>
  <td class="col-md-7" 
         style="border-right:solid 1px #ddd !important;">

  <form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="uid" class="col-sm-3 control-label">Inspectorate ID</label>
    <div class="col-sm-9 printonly">{{data.inspectorate._id}}</div>
    <div class="col-sm-9 noprint">
      <div class="form-control-static">{{data.inspectorate._id}}</div>
    </div>
  </div>
  <br>
  
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Inspectorate Name </label>
    <div class="col-sm-9 printonly">{{data.inspectorate.name}}</div>
    <div class="col-sm-9 noprint">
      <input id="name"
           class="form-control" 
           placeholder="Inspectorate Name "
           ng-readonly="!editing"
           ng-model="data.inspectorate.name">
    </div>
  </div>
  <div class="form-group">
    <label for="inspectorate" class="col-sm-3 control-label">Division</label>
    <div class="col-sm-9 printonly">{{data.inspectorate.division}}</div>
    <div class="col-sm-9">
      <input id="name"
           class="form-control" 
           placeholder="Division"
           ng-readonly="!editing"
           ng-model="data.inspectorate.divison">
       <!--  <button class="{{editing ? '' : 'disabled'}} btn btn-sm btn-default dropdown-toggle" data-toggle="text" ng-readonly="!editing">
          <span>{{data.inspectorate.division}}</span>
          &nbsp;<span ng-if="editing" class="caret"></span>
        </button> -->
        <!-- <ul class="dropdown-menu">
          <li ng-repeat="region in data.regions">
            <a ng-click="data.inspectorate.region = region">{{division}}</a>
          </li>
        </ul> -->
    </div>
  </div>
  

  <!-- <div class="form-group">
    <label for="numFemale" class="col-sm-3 control-label">Number of Females</label>
    <div class="col-sm-9 printonly">{{data.division.numFemaleCycle1 + data.division.numFemaleCycle2 }}</div>

    <div class="col-sm-9 noprint">
      <input id="numFemale"
           class="form-control" 
           type="number"
           placeholder="Number of Females"
           ng-readonly="!editing"
           ng-model="data.division.numFemaleCycle1 + data.division.numFemaleCycle2">
    </div>
    </div>  -->
    <div class="form-group">
    <label for="numFemale" class="col-sm-3 control-label">Number of Females</label>
    <div class="col-sm-9 printonly">{{data.inspectorate.numFemale}}</div>
    <div class="col-sm-9 noprint">
      <input id="numFemale"
           class="form-control" 
           type="number"
           placeholder="Number of Females"
           ng-readonly="!editing"
           ng-model="data.inspectorate.numFemale">
    </div>
    </div> 
    
    
    <!-- <div class="form-group">
    <label for="numMale" class="col-sm-3 control-label">Number of Males</label>
    <div class="col-sm-9 printonly">{{data.division.numMaleCycle1 + data.division.numMaleCycle2}}</div>
           ng-model="data.division.numFemale">
    </div>
    </div>  
    
     <div class="form-group">
    <label for="numMale" class="col-sm-3 control-label">Number of Males</label>
    <div class="col-sm-9 printonly">{{data.division.numMale}}</div>
    <div class="col-sm-9 noprint">
      <input id="numMale"
           class="form-control" 
           type="number"
           placeholder="Number of Males"
           ng-readonly="!editing"
           ng-model="data.division.numMaleCycle1 + data.division.numMaleCycle2">
    </div>
  </div> -->
  <div class="form-group">
    <label for="numMale" class="col-sm-3 control-label">Number of Males</label>
    <div class="col-sm-9 printonly">{{data.inspectorate.numMale}}</div>
    <div class="col-sm-9 noprint">
      <input id="numMale"
           class="form-control" 
           type="number"
           placeholder="Number of Males"
           ng-readonly="!editing"
           ng-model="data.inspectorate.numMale">
    </div>
  </div>
 
  <br>
  <div class="form-group">
    <label for="ddName" class="col-sm-3 control-label">Inspector</label>
    <div class="col-sm-9 printonly">{{data.inspectorate.ddName}}</div>
    <div class="col-sm-9 noprint">
      <input id="ddName"
           class="form-control" 
           type="text"
           placeholder="inspector"
           ng-readonly="!editing"
           ng-model="data.inspectorate.ddName">
    </div>
  </div>
  <div class="form-group">
    <label for="ddBirth" class="col-sm-3 control-label">Date of Birth</label>
    <div class="col-sm-9 printonly">{{data.inspectorate.ddBirth}}</div>
    <div class="col-sm-9 noprint">
      <input id="ddBirth"
           class="form-control" 
           type="date"
           placeholder="inspector Date of Birth"
           ng-readonly="!editing"
           ng-model="data.inspectorate.ddBirth">
    </div>
  </div>
  <div class="form-group">
    <label for="ddPhone" class="col-sm-3 control-label">Phone Number</label>
    <div class="col-sm-9 printonly">{{data.inspectorate.ddPhone}}</div>
    <div class="col-sm-9 noprint">
      <input id="ddPhone"
           class="form-control" 
           type="text"
           placeholder="inspector's Phone Number"
           ng-readonly="!editing"
           ng-model="data.inspectorate.ddPhone">
    </div>
  </div>
  <div class="form-group noprint" ng-if="!editing">
    <div class="col-sm-offset-3 col-sm-10">
      <button type="submit" class="btn btn-info" ng-click="edit()">
        Edit Inspectorate
      </button>
    </div>
  </div>
  <div class="form-group noprint" ng-if="editing">
    <div class="col-sm-offset-3 col-sm-10">
      <button type="submit" class="btn btn-success" ng-click="save(data.inspectorate)">
        Save Changes
      </button>
      <button type="submit" class="btn btn-warning" style="margin-left:15px;" ng-click="cancel()">
        Cancel
      </button>
    </div>
  </div>
</form>
</td>

<td class="col-md-5">
  <form class="form-horizontal noprint" role="form">
        <ul class="nav nav-tabs" style="margin-bottom:10px;">
          <li class="{{multiplier === 1 ? 'active' : ''}}">
            <a ng-click="multiplier = 1; newPayment.amount = 0">New Payment</a>
          </li>
          <li class="{{multiplier === -1 ? 'active' : ''}}">
            <a ng-click="multiplier = -1; newPayment.amount = 0">New Correction</a>
          </li>
        </ul>
        <div ng-if="multiplier === 1" class="form-group" style="margin-bottom:0px;">
          <div class="col-sm-8">
            <div class="input-group" >
              <span class="input-group-addon">CFA</span>
              <input type="text"
                     format="number"
                     prefix="{{multiplier < 0 ? '-' : ''}}"
                     name="amount"
                     ng-model="newPayment.amount"
                     required
                     class="form-control">
            </div>
              <span style="color:red;font-size:12px;"
              ng-if="getTotalPayments() + newPayment.getAmount() > 
                     data.inspectorate.totalFee">
                Payment can't be greater than amount due
              </span>
          </div>
          <div class="col-sm-4">
            <button type="submit" 
                    class="btn btn-success" 
                    ng-click="addPayment(newPayment, 1)"
                    ng-class="[0,'0.00'].indexOf(newPayment.amount) > -1 || 
                              getTotalPayments() + newPayment.getAmount() > 
                              data.inspectorate.totalFee ? 'disabled' : ''">
              Add Payment
            </button>
          </div>
        </div>
        <div ng-if="multiplier === -1" class="form-group" style="margin-bottom:0px;">
          <div class="col-sm-8">
            <div class="input-group" >
              <span class="input-group-addon">CFA</span>
              <input type="text"
                     style="color:red;"
                     format="number"
                     prefix="-"
                     name="amount"
                     ng-model="newPayment.amount"
                     required
                     class="form-control">
            </div>
              <span style="color:red;font-size:12px;" ng-if="newPayment.getAmount() > getTotalPayments()">
                Correction can't be greater than total payments
              </span>
          </div>
          <div class="col-sm-4">
            <button type="submit" 
                    class="btn btn-warning" 
                    ng-click="addPayment(newPayment, -1)"
                    ng-class="[0,'0.00'].indexOf(newPayment.amount) > -1 || 
                              newPayment.getAmount() > getTotalPayments() ? 'disabled' : ''">
              Add Correction
            </button>
          </div>
        </div>

      </form>
      <table class="table table-striped">
        <tr class="row-spacer">
          <th>Payments</th>
          <th></th>
        </tr>
        <tr ng-repeat="(paymentIndex, payment) in data.payments">
          <td>{{payment.date | date:'MMM d, yy h:mm a'}}</td>
          <td style="color:{{payment.amount < 0 ? 'red' : 'black'}};">{{payment.amount | currency:""}}</td>
        </tr>
        <tr class="row-spacer">
          <th>Summary</th>
          <th></th>
        </tr>
        <tr>
          <td>Fee Amount:</td>
          <td>{{data.inspectorate.totalFee | currency:""}}</td>
        </tr>
        <tr>
          <td>Total Paid:</td>
          <td style="font-weight:bold;">{{getTotalPayments() | currency:""}}</td>
        </tr>
        <tr class="danger">
          <td>Due:</td>
          <td style="color:red;">{{data.inspectorate.totalFee -getTotalPayments()  | currency:""}}</td>
        </tr>
      </table>
</td>
</tr>
</table>
  </div>
	
</div>	

