<!-- Loading -->
<div ng-if="startup.firstUse !== true && startup.fileFound !== false">
	<div style="width:100%;text-align:center;padding-top:20%">
		<img src="/images/ajax-loader.gif"><br>
		<h5>Loading...</h5>
	</div>
</div>

<!-- Welcome -->
<div ng-if="startup.firstUse === true">
	<div class="login-box">
		<h3>Welcome to SchoolMan!</h3>
		<p>To begin, import your SchoolMan.data file.</p>
		<br>
		<button class="btn btn-large btn-info" ng-click="importFile()">Import</button>
	</div>
</div>

<!-- 404 -->
<div ng-if="startup.firstUse === false && startup.fileFound === false">
	<div class="login-box">
		<h5>Your data file seems to have moved</h5>
		<p>Please import your SchoolMan.data file again</p>
		<br>
		<button ng-click="importFile()">Import</button>
	</div>
</div>

