<div class="row">
  <div class="col-md-2" ng-include="'views/_navstacked.html'"></div>

  <div class="col-md-10 marksheet" ng-controller="ProfileCtrl">
  <div class="printonly"><h3>{{dict.student_profile}}</h3></div>

  <table class="table"><tr>
  	<td class="col-md-7" 
  			 ng-include="'views/_profile-edit.html'"
  			 style="border-right:solid 1px #ddd !important;">
  	</td>
  	<td class="col-md-5">
  		<form ng-if="accessCode === 'registrar'" class="form-horizontal noprint" role="form">
        <ul class="nav nav-tabs" style="margin-bottom:10px;">
          <li class="{{multiplier === 1 ? 'active' : ''}}">
            <a ng-click="multiplier = 1; newPayment.amount = 0">{{dict.new_payment}}</a>
          </li>
          <li class="{{multiplier === -1 ? 'active' : ''}}">
            <a ng-click="multiplier = -1; newPayment.amount = 0">{{dict.new_correction}}</a>
          </li>
        </ul>
  			<div ng-if="multiplier === 1" class="form-group" style="margin-bottom:0px;">
			    <div class="col-sm-8">
			    	<div class="input-group" >
				      <span class="input-group-addon">{{dict.cfa}}</span>
	  					<input type="text"
	  								 format="number"
                     prefix="{{multiplier < 0 ? '-' : ''}}"
	  								 name="amount"
	  								 ng-model="newPayment.amount"
	  								 required
	  							   class="form-control">
  					</div>
              <span style="color:red;font-size:12px;"
              ng-if="getTotalPayments() + newPayment.getAmount() > 
                     getOwed()">
                {{dict.payment_cant_be_greater_than_remaining_due}}.
              </span>
			    </div>
			    <div class="col-sm-4">
			      <button type="submit" 
			      			  class="btn btn-success" 
			      			  ng-click="addPayment(newPayment, 1)"
			      			  ng-class="[0,'0.00'].indexOf(newPayment.amount) > -1 || 
                              getTotalPayments() + newPayment.getAmount() > 
                              getOwed() ? 'disabled' : ''">
			        {{dict.add_payment}}
			      </button>
			    </div>
			  </div>
        <div ng-if="multiplier === -1" class="form-group" style="margin-bottom:0px;">
          <div class="col-sm-8">
            <div class="input-group" >
              <span class="input-group-addon">{{dict.cfa}}</span>
              <input type="text"
                     style="color:red;"
                     format="number"
                     prefix="-"
                     name="amount"
                     ng-model="newPayment.amount"
                     required
                     class="form-control">
            </div>
              <span style="color:red;font-size:12px;" ng-if="newPayment.getAmount() > getTotalPayments()">
                {{dict.correction_cant_be_greater_than_total_payments}}
              </span>
          </div>
          <div class="col-sm-4">
            <button type="submit" 
                    class="btn btn-warning" 
                    ng-click="addPayment(newPayment, -1)"
                    ng-class="[0,'0.00'].indexOf(newPayment.amount) > -1 || 
                              newPayment.getAmount() > getTotalPayments() ? 'disabled' : ''">
              {{dict.add_correction}}
            </button>
          </div>
        </div>

  		</form>
  		<table class="table table-striped">
  		  <tr class="row-spacer">
  				<th>{{dict.payments}}</th>
  				<th></th>
  			</tr>
  			<tr ng-repeat="(paymentIndex, payment) in data.payments">
  				<td>{{payment.date | date:'d MMM yyyy h:mm a'}}</td>
  				<td style="color:{{payment.amount < 0 ? 'red' : 'black'}};">{{payment.amount | currency:""}}</td>
  			</tr>
  			<tr class="row-spacer">
  				<th>{{dict.summary}}</th>
  				<th></th>
  			</tr>
  			<tr>
  				<td>{{dict.total_fees}}:</td>
  				<td>{{getOwed() | currency:""}}</td>
        </tr>
  			<tr>
  				<td>{{dict.total_paid}}:</td>
  				<td style="font-weight:bold;">{{getTotalPayments() | currency:""}}</td>
  			</tr>
  			<tr class="danger">
  				<td>{{dict.remaining_due}}:</td>
  				<td style="color:red;">{{getOwed()-getTotalPayments()  | currency:""}}</td>
  			</tr>
  		</table>


      <form ng-if="accessCode === 'admin'" class="form-horizontal" role="form" style="margin-top:20px;">
        <h5 style="text-decoration:underline;"><strong>{{dict.disciplinary_record}}</strong></h5>
        <div class="form-group">
          <label for="absence" class="col-sm-7 control-label">
            {{dict.hours_of_absence}}
          </label>
          <div class="col-sm-5">
            <input id="absence"
                   type="number"
                   class="form-control"  
                   ng-model="data.dcard['absence']"
                   ng-change="save(data.dcard)"
                   ng-readonly="accessCode === 'admin'">
          </div>
        </div>
        <div class="form-group">
          <label for="council" class="col-sm-7 control-label">
            {{dict.attended_disciplinary_council}}
          </label>
          <div class="col-sm-5">
            <input id="council"
                   type="number"
                   class="form-control"  
                   ng-model="data.dcard['council']"
                   ng-change="save(data.dcard)"
                   ng-readonly="accessCode === 'admin'">
          </div>
        </div>
        <div class="form-group">
          <label for="warned" class="col-sm-7 control-label">
            {{dict.warned}}
          </label>
          <div class="col-sm-5">
            <input id="warned"
                   type="number"
                   class="form-control"  
                   ng-model="data.dcard['warned']"
                   ng-change="save(data.dcard)"
                   ng-readonly="accessCode === 'admin'">
          </div>
        </div>
        <div class="form-group">
          <label for="suspended" class="col-sm-7 control-label">
            {{dict.suspended}}
          </label>
          <div class="col-sm-5">
            <input id="suspended"
                   type="number"
                   class="form-control"  
                   ng-model="data.dcard['suspended']"
                   ng-change="save(data.dcard)"
                   ng-readonly="accessCode === 'admin'">
          </div>
        </div>
        <div class="form-group">
          <label for="expelled" class="col-sm-7 control-label">
            {{dict.promotion_status}}
          </label>
          <div class="col-sm-5">
            <div  class="btn-group">
              <!-- If status is set to automatic -->
              <button ng-if="data.student.status['2014'] === 0 && data.student.passing"
                      class="btn btn-sm btn-success dropdown-toggle 
                             {{accessCode==='admin' ? 'disabled' : ''}}" 
                      data-toggle="dropdown">
                <i class="glyphicon" 
                   ng-class="PROMOTE_OPTIONS[0].icon"></i>
                &nbsp;{{PROMOTE_OPTIONS[1].name}}
              </button>
              
              <button ng-if="data.student.status['2014'] === 0 && !data.student.passing"
                    class="btn btn-sm btn-warning dropdown-toggle
                           {{accessCode==='admin' ? 'disabled' : ''}}" 
                    data-toggle="dropdown">
                  <i class="glyphicon" 
                   ng-class="PROMOTE_OPTIONS[0].icon"></i>
                &nbsp;{{PROMOTE_OPTIONS[2].name}}
              </button>
                
              <!-- Otherwise show whatever it's manually set to -->
                <button ng-if="data.student.status['2014'] > 0"
                        class="btn btn-sm dropdown-toggle {{accessCode==='admin' ? 'disabled' : ''}}" 
                        ng-class="'btn-'+PROMOTE_OPTIONS[data.student.status['2014']].style"
                        data-toggle="dropdown">
                    <i ng-class="PROMOTE_OPTIONS[data.student.status['2014']].icon"></i>
                  &nbsp;{{PROMOTE_OPTIONS[data.student.status['2014']].name}}
                </button>
              
              <ul class="dropdown-menu">
                <li>
                  <a ng-click="data.student.setStatus('2014', 0)">
                    <i ng-class="PROMOTE_OPTIONS[0].icon"></i>
                    {{PROMOTE_OPTIONS[0].name}}
                  </a>
                </li>
                <li class="divider"></li>
                <li ng-repeat="(optionIndex, option) in PROMOTE_OPTIONS.slice(1)">
                  <a ng-click="data.student.setStatus('2014', optionIndex + 1)">
                    <i ng-class="PROMOTE_OPTIONS[optionIndex + 1].icon"></i>
                    {{PROMOTE_OPTIONS[optionIndex + 1].name}}
                  </a>
                </li>
              </ul>
            </div><!-- /btn-group -->
          </div>
        </div>
        <h5 style="text-decoration:underline;margin-top:20px;">
          <strong>{{dict.comments}}</strong>
        </h5>
        <div ng-if="accessCode === 'classmaster'"
             style="margin-bottom:55px;">
        <textarea class="form-control" 
                  style="margin-bottom:10px;" 
                  rows="3"
                  ng-model="newComment.text"></textarea>
        <button class="btn btn-default pull-right"
                ng-class="!newComment.isValid() ? 'disabled' : 'tests'"
                ng-click="addComment()">{{dict.add_comment}}</button>
        </div>
        <table class="table table-striped" >
          <tr ng-repeat="(commentIndex, comment) in data.comments">
            <td>
              <span style="color:green;">{{Users.get(comment.userId).fullname}}</span> - 
              <span style="color:#666">{{comment._id | date:'medium'}}</span>
              <br>
              <strong>{{comment.text}}</strong>
            </td>
          </tr>
        </table>
      </form>


  	</td>
  </tr></table>
  </div>
	
</div>	

