<div class="row ">
	<div class="col-md-2" ng-include="'views/_navstacked.html'"></div>
	<div class="col-md-10 marksheet" ng-controller="SchoolsCtrl">
		<div class="form-group pull-right">
                  <div class="btn-group" style="margin-right:0px;">
                    <button type="button" class="btn btn-default btn-md" ng-click="import()">
                      Import School
                    </button>
                  </div>
                </div>
		<!-- School View -->
		<table class="table table-striped table-bordered table-compact">
			<thead>
				
				<tr>
					<!-- <th style="width:100px;">ID</th> -->
					<th>Name (Eng)</th>
					<th>Division</th>
					<th>Location</th>
					<th>Number of Females</th>
					<th>Number of Males</th>
					<th class="noprint">Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr class="noprint" ng-repeat="(schoolIndex, school) in data.schools">
					<td>
					  <a ng-click="open({schoolId:school._id, page:'schoolprofile'})">
					  {{school.nameEn}}
					  </a>
					</td>
					<td>{{data.divisions[school.division].name}}</td>
					<td>{{school.subdivision}}</td>
					<td>{{school.numFemale | number:0}}</td>
					<td>{{school.numMale | number:0}}</td>
					<td class="remove text-center" style="width:80px;">
					<a ng-click="remove(school)">
						<i class="glyphicon glyphicon-remove"></i>
					</a>
				</td>
				</tr>
				<tr class="printonly-asrow" ng-repeat="(schoolIndex, school) in data.schools">
					<td>{{school.name}}</td>
					<td>{{school.division.name}}</td>
					<td>{{school.subdivision}}</td>
					<td>{{school.numFemale | number:0}}</td>
					<td>{{school.numMale | number:0}}</td>
				</tr>
				
			</tbody>
		</table>
	</div>
</div>	

