<div class="row">
	<div class="col-md-2" ng-include="'views/_navstacked.html'"></div>
	<div class="col-md-10 marksheet" ng-controller="StatsCtrl">
    <div class="printonly" ng-controller="ClassmenuCtrl">
      <h3>Class Mastersheet</h3>
      <h5>{{form.name}}{{group.name}} {{department.name}}, {{term.name}}</h5>
    </div>
		<div class="" style="padding-bottom:10px;">
		  <div ng-controller="ClassmenuCtrl">
        <nav class="navbar navbar-default" role="navigation" style="margin-bottom:0px;">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>   
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left:5px;padding-right:5px;">
              <form class="navbar-form navbar-left" role="search" style="padding-left:0px;width:100%;padding-right:0px;">
                <div class="form-group pull-right">
                  <div class="btn-group" style="margin-right:0px;">
                    <button type="button" class="btn btn-default btn-md" ng-click="export()">
                      Export Statistics
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <!-- Graph Menu -->
                  <div class="btn-group">
                    <!-- Form Dropdown -->
                    <div class="btn-group">
                      <button class="btn btn-md btn-default dropdown-toggle" data-toggle="dropdown">
                        {{route.form['name']}}   <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <!-- <li>
                          <a ng-click="search.form = ''">All Forms</a>
                        </li>
                        <li class="divider"></li> -->
                        <li ng-repeat="(formIndex, form) in route.forms">
                          <a ng-click="open({formIndex:formIndex})">
                            {{route.forms[formIndex].name}}
                          </a>
                        </li>
                      </ul>
                    </div>
                    <!-- Department Dropdown -->
                    <div  class="btn-group">
                      <button class="btn btn-md btn-default dropdown-toggle" data-toggle="dropdown">
                        {{route.department['name'] || "Select Department"}}   <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <!-- <li>
                          <a ng-click="search.department = ''">All Departments</a>
                        </li> -->
                        <!-- <li class="divider"></li> -->
                        <li ng-repeat="(deptId, dept) in route.departments">
                          <a ng-click="open({deptId:deptId})">
                            {{route.departments[deptId].name}}
                          </a>
                        </li>
                      </ul>
                    </div>
                    <!-- Term Dropdown -->
                    <div  class="btn-group">
                      <button class="btn btn-md btn-default dropdown-toggle" data-toggle="dropdown">
                         {{term.name || "All Terms"}}   <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <!-- <li>
                          <a ng-click="search.group = ''">All Groups</a>
                        </li>
                        <li class="divider"></li> -->
                        <li>
                          <a ng-click="open({termIndex:3})">All Terms
                          </a>
                        </li>
                        <li class="divider"></li>
                        <li ng-repeat="(termInd, term) in [1, 2, 3]">
                          <a ng-click="open({termIndex:termInd})">
                            Term {{term}}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </form>
          </div>
        </nav>
      </div>  
		</div>
    
		<table ng-if="data.view === 'mastersheet'" class="table table-striped table-bordered table-compact">
			<thead>
				<tr>
					<th></th>
					<th style="text-align:center" colspan="2">Number Sat</th>
          <th style="text-align:center" colspan="2">Percent Passing</th>
          <th style="text-align:center" colspan="2">Percent Failing</th>
				</tr>
        <tr>
          <th>Subject</th>
          <th>Male</th>
          <th>Female</th>
          <th>Male</th>
          <th>Female</th>
          <th>Male</th>
          <th>Female</th>
        </tr>
			</thead>
			<tbody>
				<tr ng-repeat="(subjectCode, subject) in data.stats | orderBy:'nameEn'">
          <td>{{subject.nameEn}}</td>
          <td>{{subject.maleSat}}</td>
          <td>{{subject.femaleSat}}</td>
          <td>{{subject.malePassing / subject.maleSat * 100 | number:0}} %</td>
          <td>{{subject.femalePassing / subject.femaleSat * 100 | number:0}} %</td>
          <td>{{(1 - subject.malePassing / subject.maleSat) * 100 | number:0}} %</td>
          <td>{{(1 - subject.femalePassing / subject.femaleSat) * 100 | number:0}} %</td>
				</tr>
			</tbody>
		</table>
		<!-- <div title="barchart"
				ng-show="data.view === 'barchart'"
				ng-hide="data.view !== 'barchart'"
				class="ng-hide table-bordered">
				<div class="d3-barchart"></div>
		</div> -->
	</div>
</div>